*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 16px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #469165;
    cursor: pointer;
}
.nbtn{
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    background:none;
    width: 198px;
    padding: 15px 16px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    cursor: pointer;
}

/* Header CSS Start From herte */

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1600px;
    align-items: center;
    padding: 16px 120px;
}
.navbar .logo{

}
.navbar .logo img{
    width: 139px;
}
.navbar .menu-bar{}
.navbar .menu-bar ul {}
.navbar .menu-bar ul li{
    list-style-type:none;
    display: inline-block;
    align-items: center;
}
.navbar .menu-bar ul li a{
    text-decoration: none;
    font-size: 16px;
    margin-left: 32px;
    color: #000;
    font-weight: 500;
}
.nav-button{}

/* Banner part CSS start from here */

.banner-part{
    align-items: center;
    height: 674px;
    background-image: url(image/hero-bg.png);
    background-repeat: no-repeat;
}
.banner-container{
    gap: 40px;
    text-align: center;
    width: 1360px;
    margin: 0px auto;
    padding: 100px 120px 134px 100px;
    align-items: center;
}
.banner-container a{
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 8px 12px;
    margin-bottom: 16px;
    display: inline-block;
}
.banner-container h1{
    font-size: 72px;
    color: #ffffff;
    line-height: 84px;
    font-weight: bold;
}
.banner-container h2{
    font-size: 72px;
    color: #30B868;
    line-height: 84px;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-container p{
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
}
.banner-container button{
    margin-top: 32px;
}


/* Services-Section CSS start from here*/

.services-section{
    text-align: center;
    padding:120px 120px 0px 120px;
}
.service-container{
    width: 1360px;
    margin: 0px auto;
}
.service-head{}
.service-head h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.service-head p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.service-card{
    margin-top: 44px;
    display: flex;
    justify-content: space-between;

}
.service-card .card-item{
    width: 318px;
    height:300px;
    padding: 24px;
    align-items: center;
    box-shadow: 0px 0px 8px 0px #00000020;
}
.service-card .card-item span{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: inline-block;
    border-radius: 50%;
}
.service-card .card-item img{
    margin-top: 15px;
}
.service-card .card-item h3{
    color: #001931;
    margin: 16px 0px;
}
.service-card .card-item p{
    font-size: 16px;
    color: #627382;

}


